@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@300;400;700&family=Poppins:wght@100;300;400;800&display=swap');

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

::selection {
  background-color: #0b372dbb;
}

.main {
  position: relative;
  height: 100vh;
  width: 100vw;
  text-align: center;
  background: #1d343b;
  overflow: hidden;
}

.parallax {
  pointer-events: none;
  transition: 0.45s cubic-bezier(.2, .49, .32, .99); 
}

.text {
  position: absolute;
  z-index: 14;
  width: 100vw;
  top: 62%;
  text-align: center;
  pointer-events: auto;
  color: #fff;
  font-weight: 500;
  font-size: 4rem;
  line-height: 0.68;
}

.text2 {
  position: absolute;
  z-index: 14;
  width: 100vw;
  top: 71%;
  font-size: 2.5rem;
  text-align: center;
  pointer-events: auto;
  color: #fff;
  font-weight: 200;
}

.vignette {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 65%, rgba(0, 0, 0, 0.7));
  pointer-events: none;
}

.wizard {
  position: absolute;
  z-index: 21;
  width: 30.8%;
  top: 79.1%;
  left: 17.6%;
}

.cave {
  position: absolute;
  z-index: 20;
  width: 40%;
  top: 75.9%;
  left: 82.6%;
}

.sun-rays {
  position: absolute;
  z-index: 19;
  top: 0;
  left: 0;
  width: 41.3%;
  pointer-events: none;
  opacity: 0.9;
}

.fog-1 {
  position: absolute;
  z-index: 16;
  width: 90.1%;
  top: 60.2%;
  left: 85%;
  opacity: 0.6;
}

.fog-2 {
  position: absolute;
  z-index: 16;
  width: 80.3%;
  top: 80.1%;
  left: 20%;
}

.fog-3 {
  position: absolute;
  z-index: 15;
  width: 111.1%;
  top: 63.6%;
  left: 40%;
}

.goat {
  position: absolute;
  z-index: 14;
  width: 34.2%;
  top: 72.2%;
  left: 14.1%;
}

.fog-4 {
  position: absolute;
  z-index: 13;
  width: 50%;
  top: 77.5%;
  left: 45.8%;
  opacity: 0.5;
}

.house {
  position: absolute;
  z-index: 12;
  width: 42.4%;
  top: 82.1%;
  left: 15%;
}

.tree1 {
  position: absolute;
  z-index: 10;
  width: 33.4%;
  top: 65.1%;
  left: 85.5%;
}

.tree2 {
  position: absolute;
  z-index: 9;
  width: 40.3%;
  top: 65.4%;
  left: 79%;
}

.fog-5 {
  position: absolute;
  z-index: 7;
  width: 40.3%;
  top: 69.8%;
  left: 25.4%;
  opacity: 0.6;
}

.owl {
  position: absolute;
  z-index: 4;
  width: 7%;
  top: 30%;
  left: 80.2%;
}

.dragon {
  position: absolute;
  z-index: 3;
  width: 7.6%;
  top: 20%;
  left: 28%;
}

.fog-7 {
  position: absolute;
  z-index: 3;
  width: 100%;
  top: 85%;
  left: 95.8%;
  opacity: 0.5;
}

.hogwarts {
  position: absolute;
  z-index: 3;
  width: 45.3%;
  top: 33.3%;
  left: 55%;
}

.bg-img {
  position: relative;
  z-index: 2;
  width: 350.44%;
  top: -65%;
  left: 50%;
  /* object-fit: cover; */
}

.back {
  position: relative;
  z-index: 1;
  width: 100%;
}

.resume {
  top: 81%;
  left: 45%;
  z-index: 100;
  position: absolute;
  border: none;
  color: #ffffff;
  width: 8em;
  height: 2.5em;
  line-height: 2em;
  text-align: center;
  background: linear-gradient(90deg, 	#d9c9a7,	#5F8575, #949f99, #6492b5, #d9c9a7);
  background-size: 300%;
  border-radius: 30px;
  text-transform: uppercase;
  cursor: pointer;
}
.resume:hover {
  animation: animation 8s linear infinite;
  border: none;
}
@keyframes animation {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}
.resume:before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(90deg, #f3f3f3,  #5c7f73,  #0b372dbb, #6e807e, #6492b5, #d9c9a7);
  background-size: 400%;
  border-radius: 35px;
  transition: 1s;
}
.resume:hover::before {
  filter: blur(20px);
}

@media (max-width: 725px) {
  /* .text h1 {
    font-size: 5rem;
    line-height: 1.1;
  }

  .text h2 {
    font-size: 4.1rem;
    line-height: 1.1;
  } */

  
  .bg-img {
    width: initial;
    height: 311.104%;
  }

  .fog-7 {
    width: initial;
    height: 211.2%;
  }

  .mountain-10 {
    width: initial;
    height: 99.04%;
  }

  .fog-6 {
    width: initial;
    height: 178.88%;
  }

  .dragon {
    width: initial;
    height: 52.16%;
  }

  .hogwarts {
    width: initial;
    height: 90.08%;
  }

  .fog-5 {
    width: initial;
    height: 50.08%;
  }

  .owl {
    width: initial;
    height: 59.84%;
  }

  .tree2 {
    width: initial;
    height: 45.28%;
  }

  .fog-4 {
    width:initial;
    height: 65.6%;
  }

  .house {
    width: initial;
    height: 59.84%;
  }

  .fog-3 {
    width: initial;
    height: 177.76%;
  }

  /* .goat {
    display: none;
  } */

  .tree1 {
    width: initial;
    height: 59.84%;
  }

  .fog-2 {
    width: initial;
    height: 173.28%;
  }

  /* .cave {
    display: none;
  } */

  .wizard {
    width: initial;
    height: 58.88%;
  }

  .fog-1 {
    width: initial;
    height: 177.76%;
  }
}

@media (max-width: 520px) {
  .bg-img{
    top: 20%;
    width: 100%;
    height: 200%;
    left: 45%;
  }
  .wizard{
    width: 80%;
    height: auto;
    left: 5%;
    top: 85%;
  }

  .hogwarts{
    width: 80%;
    height: auto;
  }

  .dragon{
    width: 20%;
    height: auto;
    top: 15%;
    left: 10%;
  }

  .owl{
    z-index: 20;
    width: 20%;
    height: auto;
    top: 45%;
    left: 80%;
  }

  .cave{
    width: 80%;
    height: auto;
    left: 80%;
    top: 85%;
  }

  .goat{
    width: 80%;
    height: auto;
    top: 78%;
    left: 7%;
  }

  .house{
    width: 80%;
    height: auto;
    left: 10%;
    top: 75%;
    display: none;
  }

  .tree1 {
    width: 60%;
    height: auto;
    top: 80%;
    left: 80%;
  }

  .tree2 {
    width: 60%;
    height: auto;
    top: 75%;
    left: 75%;
  }

  .text {
    font-size: 2.5rem;
    top: 50%;
    left: 24%;
  }

  .text2 {
    font-size: 1.6rem;
    top: 55%;
    left: 27%;
  }
}